/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
	margin: 0; 
	font-family: Roboto, "Helvetica Neue", sans-serif;
/* 	background-color: #eeeeee;
 */
}

h2,h3,p,small {
	color: #666666; 
}

h2,h3,small {
	font-weight: 300
}
h2 {
	font-size: 1.35em;
}

button {
	box-shadow: none !important;
	border-radius: 0 !important;
}

.nav-button span{
	color: #666666 !important;

}

.my-nav {
	background: #ffffff !important;
}

.mat-toolbar.mat-primary {
	margin-bottom: 20px;

}

.title {
	color: #666666; 
	/* font-family: 'ZCOOL KuaiLe', cursive; */
	letter-spacing: 1px;
	font-size: 26px;
	font-weight: 400
}

/* mat-card {
  margin: 10px auto;
  box-sizing: content-box;
  max-width: 100% !important;
} */
