<section>
  <div *ngFor="let post of posts | async">
    <div routerLink="{{post.id}}">
      <img div-image src="{{post.image}}" alt="{{post.title}}">
      <h2>{{post.title}}</h2>
      <p>
        <small>Posted by {{post.author}} &bull; on {{post.published.toDate() | date:"fullDate"}}</small>
      </p>
    </div>
    <div align="end" *ngIf="auth.currentUserId === post.authorId">
      <button mat-icon-button (click)="delete(post.id)">
        <div>delete</div>
      </button>
    </div>
  </div>
</section>
