section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px,1fr));
  grid-template-rows: auto;
  grid-gap: 30px;
  margin: 0 auto;
  max-width: 90%;
}

mat-card-content {
	outline: none;
	cursor:pointer;
}
mat-card {
  margin: 5px 0;
}

section img {  
  height: 290px;
   object-fit: cover;
/*      border-top-right-radius: 6px;
     border-top-left-radius: 6px; */

}

